.button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  cursor: pointer;
}

.button:disabled,
.button[disabled] {
  box-shadow: none;
  pointer-events: none;
  cursor: not-allowed;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.primary {
  background: #0074d9;
  border-color: #0074d9;
  color: #fff;
}

.secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}
